$green: hsl(96deg 53% 43%);
$green-light: hsl(96deg 53% 48%);
$green-dark: hsl(96deg 53% 40%);

$grey: hsl(0, 0%, 19%);
$grey-dark: hsl(0, 0%, 16%);
$grey-darker: hsl(0, 0%, 3%);
$grey-light: hsl(0, 0%, 42%);
$grey-lighter: hsl(0, 0%, 73%);

$white: rgb(255, 255, 255);
$white-off: hsl(0, 0%, 95%);
$white-offer: hsl(0, 0%, 75%);

$danger: hsl(348, 86%, 61%);
$info: hsl(204, 86%, 48%);

@use "bulma/sass" with (
  $family-primary: '"Roboto", sans-serif',
  $primary: $green,
  $danger: $danger,
  $info: $info,
  $link: $white,
  $success: $green,

  $grey: $grey,
  $grey-dark: $grey-dark,
  $grey-darker: $grey-darker,
  $grey-light: $grey-light,
  $grey-lighter: $grey-lighter
);
@use "bulma/sass/utilities/css-variables" as cs;
@use "switch.scss";

@mixin register-var($name, $value) {
  @include cs.register-var($name, $value);
  @include cs.register-hsl($name, $value);
}

:root {
  --bulma-primary-invert-l: var(--bulma-primary-100-l);
  --bulma-danger-invert-l: var(--bulma-danger-100-l);
  --bulma-success-invert-l: var(--bulma-success-100-l);
  --bulma-info-invert-l: var(--bulma-info-100-l);

  .navbar {
    --bulma-navbar-burger-color: #{$white-off};
  }
}

.theme-dark {
  --bulma-text: #{$white-off};
  --bulma-text-strong: #{$white};
  --bulma-text-light: #{$white-offer};

  --bulma-link: #{$green};
  --bulma-link-visited: #{$green};
  --bulma-link-hover: #{$grey-lighter};
  --bulma-link-invert: #{$grey-lighter};
  --bulma-link-focus: #{$grey-lighter};

  @include register-var("scheme", $grey-dark);
  @include register-var("scheme-main", $grey-dark);
  @include register-var("scheme-main-bis", $grey);
  @include register-var("scheme-main-ter", $grey);
  @include register-var("scheme-invert", $white-off);
  @include register-var("scheme-invert-bis", $white);
  @include register-var("scheme-invert-ter", $white);

  --bulma-background: #{$grey};
  --bulma-body-background-color: #{$grey};

  --bulma-border: #{$grey-light};
  --bulma-border-hover: #{$grey-lighter};
  --bulma-border-light: #{$grey-light};

  --bulma-shadow: #{0 0.5em 1em -0.125em rgba($grey-darker, 0.5)},
    #{0 0px 0 1px rgba($grey-darker, 0.2)};
  --bulma-card-header-shadow: 0 0.125em 0.25em #{rgba($grey-darker, 0.5)};
  --bulma-navbar-bottom-box-shadow-size: 0 -0.1em 0.125em;
  --bulma-navbar-box-shadow-color: rgb(8 8 8 / 30%);

  .modal {
    --bulma-modal-background-background-color: hsla(
      var(--bulma-scheme-h),
      var(--bulma-scheme-s),
      var(--bulma-scheme-main-l),
      0.86
    );
  }
}

html,
body,
#app {
  font-family: "Roboto", sans-serif;
  font-feature-settings: "kern", "liga";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  max-width: 100%;
  overflow-x: hidden;
}

.column-narrow {
  .column {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.field-label {
  align-self: center;
}

.field-is-5 {
  .field-label {
    flex-grow: 5;
  }
}

.field-is-4 {
  .field-label {
    flex-grow: 4;
  }
}

.field-is-3 {
  .field-label {
    flex-grow: 3;
  }
}

.field-is-2 {
  .field-label {
    flex-grow: 2;
  }
}

.card-header-button {
  margin: 10px;
}

.logo-animation {
  @keyframes logo-wiggle {
    0% {
      transform: translateY(-70%) rotate(20deg);
      transform-origin: center;
    }
    4% {
      transform: translateY(0%) rotate(16deg) scaleY(0.999);
      transform-origin: center;
    }
    6% {
      transform: translateY(-2%) rotate(14deg) scaleY(1);
      transform-origin: center;
    }
    8% {
      transform: translateY(0) rotate(12deg);
      transform-origin: center;
    }
    18% {
      transform: rotate(-5deg);
    }
    28% {
      transform: rotate(5deg);
    }
    38% {
      transform: rotate(-1.5deg);
    }
    44% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .avocado {
    transform-origin: bottom center;
    animation: logo-wiggle 10s cubic-bezier(0.45, 0.2, 0.45, 1) 1;
  }
}

.text-animation {
  @keyframes text-wiggle {
    0% {
      transform: translateY(-70%);
      transform-origin: center;
    }
    4% {
      transform: translateY(0%) scaleY(0.999);
      transform-origin: center;
    }
    6% {
      transform: translateY(-2%) scaleY(1);
      transform-origin: center;
    }
    8% {
      transform: translateY(0);
      transform-origin: center;
    }
  }

  .tagline {
    transform-origin: bottom center;
    animation: text-wiggle 10s cubic-bezier(0.45, 0.2, 0.45, 1) 1;
  }
}
