$green: hsl(96deg 53% 43%);
$green-light: hsl(96deg 53% 48%);
$green-dark: hsl(96deg 53% 40%);

$gray: hsl(0, 0%, 19%);
$gray-ligth: hsl(0, 0%, 29%);
$gray-ligther: hsl(0, 0%, 73%);
$gray-darker: hsl(0, 0%, 16%);
$gray-darkest: hsl(0, 0%, 3%);

$white: rgb(255, 255, 255);
$white-off: rgb(233, 235, 252);

$primary: $green;

$text: $white-off;
$text-strong: $white;

$link: $white-off;
$link-hover: $gray-ligther;
$link-invert: $gray-ligther;

$scheme-main: $gray-darker;
$scheme-main-bis: $gray;
$scheme-main-ter: $gray;
$scheme-invert: $white-off;

$background: $gray;
$body-background-color: $gray;

$shadow: 0 0.5em 1em -0.125em rgba($gray-darkest, 0.5),
  0 0px 0 1px rgba($gray-darkest, 0.2);
$card-header-shadow: 0 0.125em 0.25em rgba($gray-darkest, 0.5);

$border: $gray-ligth;
$border-hover: $gray-ligther;
$border-light: $gray-ligth;

$navbar-bottom-box-shadow-size: 0 -0.1em 0.125em;
$navbar-box-shadow-color: rgb(8 8 8 / 30%);

@import "node_modules/bulma/bulma.sass";
@import "node_modules/bulma-switch/src/sass/index.sass";

.column-narrow {
  .column {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.field-label {
  align-self: center;
}

.field-is-5 {
  .field-label {
    flex-grow: 5;
  }
}

.field-is-4 {
  .field-label {
    flex-grow: 4;
  }
}

.field-is-3 {
  .field-label {
    flex-grow: 3;
  }
}

.field-is-2 {
  .field-label {
    flex-grow: 2;
  }
}

.card-header-button {
  margin: 10px;
}

.card-footer-item.button {
  border-radius: 0;
  height: unset;
}

.logo-animation {
  @keyframes logo-wiggle {
    0% {
      transform: translateY(-70%) rotate(20deg);
      transform-origin: center;
    }
    4% {
      transform: translateY(0%) rotate(16deg) scaleY(0.999);
      transform-origin: center;
    }
    6% {
      transform: translateY(-2%) rotate(14deg) scaleY(1);
      transform-origin: center;
    }
    8% {
      transform: translateY(0) rotate(12deg);
      transform-origin: center;
    }
    18% {
      transform: rotate(-5deg);
    }
    28% {
      transform: rotate(5deg);
    }
    38% {
      transform: rotate(-1.5deg);
    }
    44% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .avocado {
    transform-origin: bottom center;
    animation: logo-wiggle 10s cubic-bezier(0.45, 0.2, 0.45, 1) 1;
  }
}

.text-animation {
  @keyframes text-wiggle {
    0% {
      transform: translateY(-70%);
      transform-origin: center;
    }
    4% {
      transform: translateY(0%) scaleY(0.999);
      transform-origin: center;
    }
    6% {
      transform: translateY(-2%) scaleY(1);
      transform-origin: center;
    }
    8% {
      transform: translateY(0);
      transform-origin: center;
    }
  }

  .tagline {
    transform-origin: bottom center;
    animation: text-wiggle 10s cubic-bezier(0.45, 0.2, 0.45, 1) 1;
  }
}
